<link rel="stylesheet" type="text/css" href="/css/app2.css">
<div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-2">
    <a href="/"><button type="button" class="btn btn-info">Salir de Juego</button></a>
  </div>
  <div class="col-md-2">
    <a href="/juego"><button type="button" class="btn btn-success">Reiniciar Juego</button></a>
  </div>
</div>


<div class="container">
    <h1>Nuevo juego</h1>
    <%if @resp == "Ganaste" || @resp == "Perdiste"%>
       <label name="estado" ><h1><%= @resp%></h1></label>
       <h1>La palabra era: <%= @@word%></h1>       
    <%else%>
       <label name="estado"><%= @resp%></label>
       <label name="estado"><%= @resp%></label>
    <%end%>

    <%if @mensaje == "incorrecto"%>
       <label name="mensaje" ><h1><%= @mensaje%></h1></label>
    <%else%>
       <label name="mensaje"><%= @mensaje%></label>
    <%end%>
    <br>        
    <img name="0.jpg" src="<%=@imagen%>" width="200">

    <h1>
    <% @@map.each do |elem| %>
    <%= elem %> &nbsp;
    <% end %>
   </h1>
   <%if @resp != "Ganaste" && @resp != "Perdiste"%>
      <form class="" action="" method="post">
        <input class="form-control game" name="ingresar" maxlength="1" size="1" type="text" onkeypress="return alpha(event)">
        <input class="btn btn-primary" type="submit" value="Ok" name="Ok">
      </form>
    <%end%>
    

</div>
